body{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    background-image: url(".././images/background_kuma.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left bottom;
}

/* .contentCard{
    margin-top: 100px;
} */

#card{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.90);
}

#aboutSection{
    justify-content: center;
}

.contentCard{
    width: 40%;
    display: flex;
    margin-top: 5%;
}

.pfp{
    border-radius: 50%;
    margin-bottom: 25px;
    height: 40%;
    width: 40%;
}

.contCenter{
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: center;
}

.name{
    font-family: 'Pacifico', cursive;
    margin: 25px 0;
    color: #B06270
}

.subTitle{
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 15px 0;
    text-align: center;
}


.post{
    text-align: center;
    margin: 0 10px;
    margin-bottom: 25px;
    /* max-width: 500px; */
}

#portfolioCardsContainer{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    gap: 0.8rem;
    margin: 25px 0;
}

.portfolioCards{
    cursor: pointer;
}

hr{
    width: 25%;
}

.navBtn{
    margin: 25px 10px;
    padding: 0 15px;
    border-radius: 20px;
    background-color: #B06270;
    transition: all 0.2s linear;
}

.navBtn:hover{
    background-color: #e48a9a;
}

/* .navBtn a, .navBtn a:hover{
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: lowercase;
} */

.navBtn p, .navBtn p:hover{
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: lowercase;
    margin-bottom: 0;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
}

.contactIcon{
    border: 1px solid;
    border-radius: 50%;
    padding: 30px 17px;
    color: #bbbbbb;
    text-decoration: none;
    transition: all 0.2s linear;
}

.contactIcon:hover{
    color: #B06270;
    transition: all 0.2s linear;
}

.hidden{
    display: none;
}

.notHidden{
    display: block;
    transition: opacity 0.15s linear;
}

.progrBar{
    margin-bottom: 10px;
}

.progressContainer{
    text-align: center;
    margin: 0 50px;
    margin-bottom: 25px;
}

#progress-bar[value]{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

#progress-bar[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.25) inset;
}

#progress-bar[value]::-webkit-progress-value {
    background-color: #B06270;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.25) inset;
}

@media (min-width: 0) and (max-width: 1000px) {
    .contentCard{
        width: 100%;
    }

    .navbar{
        display: block;
    }

    .navBtn{
        display: block;
    }

    #card{
        border: none;
    }

    .progressContainer{
        text-align: center;
        margin: 0 5px;
        margin-bottom: 25px;
    }

    #portfolioCardsContainer{
        display: grid;
        grid-template-columns: repeat(1, 80%);
    }
}


@media (min-width: 1001px) and (max-width: 1300px) {
    .contentCard{
        width: 70%;
    }

    .navbar{
        display: block;
    }

    .navBtn{
        display: block;
    }

    #portfolioCardsContainer{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 40%);
    }
}

@media (min-width: 1301px) and (max-width: 1700px) {
    .contentCard{
        width: 50%;
    }
}
