body{
    display: flex;
    justify-content: center;
    background-image: url(https://wallpaperaccess.com/full/628286.jpg);
}

/* .contentCard{
    margin-top: 100px;
} */

.cardW500{
    min-width: 500px;
}

#card{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.90);
}

.contentCard{
    width: 30%;
    display: flex;
    margin-top: 5%;
}

.pfp{
    border-radius: 50%;
    margin-bottom: 25px;
    height: 40%;
    width: 40%;
}

.contCenter{
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: center;
}

.name{
    font-family: 'Pacifico', cursive;
    margin: 25px 0;
    color: #B06270
}

.subTitle{
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 25px 0;
    text-align: center;
}

.post{
    text-align: center;
    margin: 0 10px;
    margin-bottom: 25px;
    max-width: 500px;
}

hr{
    width: 25%;
}

.navBtn{
    margin: 25px 10px;
    padding: 0 15px;
    border-radius: 20px;
    background-color: #B06270;
    transition: all 0.2s linear;
}

.navBtn:hover{
    background-color: #e48a9a;
}

/* .navBtn a, .navBtn a:hover{
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: lowercase;
} */

.navBtn p, .navBtn p:hover{
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: lowercase;
    margin-bottom: 0;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
}

.contactIcon{
    border: 1px solid;
    border-radius: 50%;
    padding: 30px 17px;
    color: #bbbbbb;
    text-decoration: none;
    transition: all 0.2s linear;
}

.contactIcon:hover{
    color: #B06270;
    transition: all 0.2s linear;
}

.hidden{
    display: none;
}

.progrBar{
    margin-bottom: 10px;
}

#progress-bar[value]{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

#progress-bar[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.25) inset;
}

#progress-bar[value]::-webkit-progress-value {
    background-color: #B06270;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.25) inset;
}

@media (min-width: 0) and (max-width: 1024px) {
    .contentCard{
        width: 100%;
    }

    .navbar{
        display: block;
    }

    .navBtn{
        display: block;
    }

    #card{
        border: none;
    }
}

@media (min-width: 1025px) and (max-width: 1300px) {
    .contentCard{
        width: 80%;
    }

    .navbar{
        display: block;
    }

    .navBtn{
        display: block;
    }
}
